<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Imaging" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.MachineLearning" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Statistics" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Video" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Vision" version="3.8.2-alpha" targetFramework="net46" />
  <package id="AvalonEdit" version="6.0.0" targetFramework="net46" />
  <package id="DotNetZip" version="1.13.4" targetFramework="net46" />
  <package id="Eagle" version="1.0.7213.50727" targetFramework="net46" />
  <package id="Eagle.CLRv4" version="1.0.7213.50727" targetFramework="net46" />
  <package id="Eagle.CLRv4.Core" version="1.0.7213.50727" targetFramework="net46" />
  <package id="gong-wpf-dragdrop" version="2.2.0" targetFramework="net46" />
  <package id="Griffin.Networking" version="0.5.7" targetFramework="net46" />
  <package id="Griffin.Networking.Protocol.Http" version="0.5.2" targetFramework="net46" />
  <package id="Griffin.WebServer" version="0.5.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="Magick.NET.Core" version="4.1.0" targetFramework="net46" />
  <package id="Magick.NET-Q8-x86" version="7.21.1" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net46" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net46" />
  <package id="MaterialDesignThemes" version="2.3.2-ci1016" targetFramework="net46" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.11" targetFramework="net46" />
  <package id="MeasurementProtocolClient" version="1.0.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net46" />
  <package id="sqlite-net" version="1.0.8" targetFramework="net46" />
  <package id="WriteableBitmapEx" version="1.6.3" targetFramework="net46" />
</packages>