<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.Imaging" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.MachineLearning" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.Statistics" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.Video" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.Vision" version="3.8.2-alpha" targetFramework="net48" />
  <package id="AvalonEdit" version="6.0.0" targetFramework="net48" />
  <package id="ControlzEx" version="4.3.0" targetFramework="net48" />
  <package id="DotNetZip" version="1.13.4" targetFramework="net48" />
  <package id="Eagle" version="1.0.7213.50727" targetFramework="net48" />
  <package id="Eagle.CLRv4" version="1.0.7213.50727" targetFramework="net48" />
  <package id="Eagle.CLRv4.Core" version="1.0.7213.50727" targetFramework="net48" />
  <package id="gong-wpf-dragdrop" version="2.2.0" targetFramework="net48" />
  <package id="Griffin.Networking" version="0.5.7" targetFramework="net48" />
  <package id="Griffin.Networking.Protocol.Http" version="0.5.2" targetFramework="net48" />
  <package id="Griffin.WebServer" version="0.5.0" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net48" />
  <package id="Magick.NET.Core" version="8.1.0" targetFramework="net48" />
  <package id="Magick.NET-Q8-x86" version="8.1.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.0.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.7-ci277" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.6.0-ci277" targetFramework="net48" />
  <package id="MaterialDesignThemes.MahApps" version="0.2.3-ci277" targetFramework="net48" />
  <package id="MeasurementProtocolClient" version="1.0.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="sqlite-net" version="1.0.8" targetFramework="net48" />
  <package id="WriteableBitmapEx" version="1.6.3" targetFramework="net48" />
</packages>