<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Vision" version="2.2.5" targetFramework="net40" />
  <package id="AvalonEdit" version="5.0.2" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.7" targetFramework="net40" />
  <package id="Eagle" version="1.0.5749.32588" targetFramework="net40" />
  <package id="gong-wpf-dragdrop" version="1.0.0-ALPHA011" targetFramework="net40" />
  <package id="Griffin.Networking" version="0.5.7" targetFramework="net40" />
  <package id="Griffin.Networking.Protocol.Http" version="0.5.2" targetFramework="net40" />
  <package id="Griffin.WebServer" version="0.5.0" targetFramework="net40" />
  <package id="log4net" version="2.0.4" targetFramework="net40" />
  <package id="Magick.NET-Q8-x86" version="7.0.0.0022" targetFramework="net40" />
  <package id="MeasurementProtocolClient" version="1.0.0.0" targetFramework="net40" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="net40" />
</packages>