<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICameraService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/Design_Time_Addresses/CameraControl.Service/CameraService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICameraService"
                contract="ServiceReference1.ICameraService" name="WSHttpBinding_ICameraService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>