.svn

Bin
Obj
_ReSharper.CameraControl
_ReSharper.CameraControlDevices
_ReSharper.CameraControl.ServerTest

/nsis/*.exe

/ScreenShots/1.1.797
*.tmp_proj
/CameraControl.Core/*.user
/*.suo
/Setup/*.msi
/Setup/*.wxs
/Setup/Setup.exe
/Setup/Setup.pdb
/Setup/*.config
/Setup/*.dll
/Setup/*.wixobj
