<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net46" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net46" />
  <package id="DropNet" version="1.10.23.0" targetFramework="net40" />
  <package id="Facebook" version="7.0.10-beta" targetFramework="net45" />
  <package id="gong-wpf-dragdrop" version="1.0.0-ALPHA013" targetFramework="net46" />
  <package id="ImageLibrary" version="2.0.5" targetFramework="net46" />
  <package id="Magick.NET-Q8-x86" version="7.0.2.400" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.3.0-ALPHA173" targetFramework="net46" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net46" />
  <package id="MvvmLight" version="5.3.0.0" targetFramework="net46" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" requireReinstallation="True" />
  <package id="System.Net.FtpClient" version="1.0.5824.34026" targetFramework="net45" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="net40" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="net46" />
</packages>