<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.2" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net40" />
  <package id="MahApps.Metro" version="0.14.0-ALPHA98" targetFramework="net40" />
  <package id="MahApps.Metro.Resources" version="0.2.1.0" targetFramework="net40" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="net40" />
  <package id="MvvmLightLibs" version="4.3.31.1" targetFramework="net40" />
</packages>