<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Imaging" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.MachineLearning" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Statistics" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Video" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Accord.Vision" version="3.8.2-alpha" targetFramework="net46" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net46" />
  <package id="DotNetZip" version="1.13.4" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net46" />
  <package id="Quartz" version="3.0.7" targetFramework="net46" />
</packages>