<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net40" />
  <package id="AForge.Vision" version="2.2.5" targetFramework="net40" />
  <package id="AvalonEdit" version="4.4.2.9744" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net40" />
  <package id="Extended.Wpf.Toolkit" version="2.0.0" targetFramework="net40" />
  <package id="Griffin.Networking" version="0.5.7" targetFramework="net40" />
  <package id="Griffin.Networking.Protocol.Http" version="0.5.2" targetFramework="net40" />
  <package id="Griffin.WebServer" version="0.5.0" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="MahApps.Metro" version="0.14.0-ALPHA94" targetFramework="net40" />
  <package id="MahApps.Metro.Resources" version="0.2.1.0" targetFramework="net40" />
  <package id="mnailgun" version="0.7.0" targetFramework="net40" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="net40" />
  <package id="MvvmLightLibs" version="4.3.31.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
  <package id="WriteableBitmapEx" version="1.0.12.0" targetFramework="net40" />
</packages>