<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PhotoBooth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <PhotoBooth.Properties.Settings>
            <setting name="ImagePath1" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath2" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath3" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagePath4" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CardTopVerticalText" serializeAs="String">
                <value />
            </setting>
            <setting name="CardBannerText" serializeAs="String">
                <value />
            </setting>
            <setting name="OneButtonOperation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KioskMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardBottomVerticalText" serializeAs="String">
                <value />
            </setting>
            <setting name="PhototCardTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OneButtonMessage" serializeAs="String">
                <value />
            </setting>
        </PhotoBooth.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AForge" publicKeyToken="c1db6ff4eaa06aeb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AForge.Math" publicKeyToken="abba2e25397ee8c9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AForge.Imaging" publicKeyToken="ba8ddea9676ca48b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
